/*  Jakarta */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");
/* Creepster */
@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

footer {
  background-color: #7453c5;
}

.char-background {
  background-color: #7453c5;
}

.residence-background {
  background-color: #583b9e;
}

.primary-btn {
  border-radius: 8px;
  border: 4px solid var(--style, #000);
  background: var(--linear, linear-gradient(90deg, #f09819 0%, #edde5d 100%));
  box-shadow: 3px 4px 0px 0px #000;
  padding: 16px 24px;
}

.primary-btn-sm {
  border-radius: 8px;
  border: 4px solid var(--style, #000);
  background: var(--linear, linear-gradient(90deg, #f09819 0%, #edde5d 100%));
  box-shadow: 3px 4px 0px 0px #000;
  padding: 5px 12px;
}

body {
  background-color: #512da8;
  background-size: 100px 100px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
  background-position: top;
}

/* Hero Section */

.para {
  color: var(--ffffff, #fff);
  font-weight: 400;
  text-transform: uppercase;
}

.para2 {
  color: var(--ffffff, #fff);
  font-weight: 400;
}

/* Custom Bar */
.bar {
  color: var(--Style, #000);
  font-size: 43px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  background: var(--Linear, linear-gradient(90deg, #f09819 0%, #edde5d 100%));
}

/* Custom Card */

.card {
  border-radius: 16px;
  border: 4px solid #000;
  background: #d9d9d9;
  box-shadow: 4px 6px 0px 0px #000;
}

.image {
  width: 40% !important;
  position: relative !important;
  left: 60% !important;
}

/* Event Section */

.event {
  background-image: url("/treasure.jpg");
  border-radius: 40px;
  border: 8px solid var(--Style, #000);
  background: #d9d9d9;
  box-shadow: 11px 6px 0px 0px #000;
}

/* Pre-Footer */

.pre-footer {
  border-radius: 48px;
  border: 9px solid var(--Style, #000);
  background: var(--Linear, linear-gradient(90deg, #f09819 0%, #edde5d 100%));
  box-shadow: 8px 15px 0px 0px #000;
}

.pre-footer-font {
  color: var(--Style, #000);
  font-weight: 400;
}
