/*  Jakarta */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");
/* Creepster */
@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #512da8;
  background-size: 100px 100px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
  background-position: top;
}

footer {
  background-color: #7453c5;
}

/*=============== Button Variant ========== */

.primary-btn {
  border-radius: 8px;
  border: 4px solid var(--style, #000);
  background: var(--linear, linear-gradient(90deg, #f09819 0%, #edde5d 100%));
  box-shadow: 3px 4px 0px 0px #000;
}

.primary-btn-sm {
  border-radius: 8px;
  border: 4px solid var(--style, #000);
  background: var(--linear, linear-gradient(90deg, #f09819 0%, #edde5d 100%));
  box-shadow: 3px 4px 0px 0px #000;
}

.secondary-btn {
  border-radius: 8px;
  border: 4px solid var(--Style, #000);
  background: var(--ffffff, #fff);
  box-shadow: 3px 4px 0px 0px #000;
}

/* ========= End of Button Variant ========== */

/* ====================== **** Hero Section **** ===================== */

.hero-container {
  @apply mt-24 md:mt-28 lg:mt-3 lg:h-screen mx-auto w-10/12 md:max-w-xl lg:max-w-4xl xl:max-w-6xl 2xl:max-w-screen-2xl
  flex flex-col lg:justify-end items-center gap-5 xl:gap-8 2xl:gap-20;
}

.hero-title {
  @apply font-normal uppercase text-white mb-3 font-creepster text-5xl md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl;
}

.hero-subtitle {
  @apply font-normal text-white lg:text-left font-jakarta text-sm md:max-w-xs lg:max-w-xl 2xl:max-w-4xl md:text-base lg:text-lg 2xl:text-xl;
}

.hero-video__container {
  @apply relative card hero-bg p-24 md:p-36 lg:p-32 xl:p-44 2xl:p-0 2xl:h-72 lg:w-3/5 2xl:max-w-2xl mt-5 md:mt-10;
}

.hero-bg {
  background-image: url("/livingroom.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* =========== Hero Monster Responsive ===========*/

.monster {
  bottom: -5%;
  right: 75%;
  width: 100px;
}

/* Styles for screens with a minimum width of 768px (md) */
@media (min-width: 768px) {
  .monster {
    top: 10%;
    left: 52%;
    width: 290px;
  }
}

/* Styles for screens with a minimum width of 1024px (lg) */
@media (min-width: 1024px) {
  .monster {
    top: 20%;
    left: 65%;
    width: 420px;
  }
}

/* Styles for screens with a minimum width of 1280px (xl) */
@media (min-width: 1280px) {
  .monster {
    top: 25%;
    width: 500px;
  }
}

/* Styles for screens with a minimum width of 1536px (2xl) */
@media (min-width: 1536px) {
  .monster {
    top: 12%;
    left: 65%;
    width: 600px;
  }
}

/* End of Hero Monster Responsive*/

/* ========== Hero Button Responsive =========*/

.hero-button__container {
  @apply flex flex-col gap-2;
}

.hero-button {
  right: 50%;
  bottom: 35%;
  left: 40%;
  width: 55px;
}

/* Styles for screens with a minimum width of 768px (md) */
@media (min-width: 768px) {
  .hero-button {
  }
}

/* Styles for screens with a minimum width of 1024px (lg) */
@media (min-width: 1024px) {
  .hero-button {
    width: 63px;
    left: 43%;
  }
}

/* Styles for screens with a minimum width of 1280px (xl) */
@media (min-width: 1280px) {
  .hero-button {
    width: 78px;
  }
}

/* Styles for screens with a minimum width of 1536px (2xl) */
@media (min-width: 1536px) {
  .hero-button {
    left: 44%;
    width: 80px;
  }
}
/*End of Hero Button Responsive */

/* ================****** End of Hero Section ******=============== */

/* Custom Bar */
.bar {
  color: var(--Style, #000);
  font-weight: 400;
  line-height: 150%;
  background: var(--Linear, linear-gradient(90deg, #f09819 0%, #edde5d 100%));
}

/* Custom Card */

.card {
  border-radius: 16px;
  border: 4px solid #000;
  box-shadow: 4px 6px 0px 0px #000;
}

/* =================== ******* Event Section ******================= */

.event {
  border-radius: 40px;
  border: 8px solid var(--Style, #000);
  box-shadow: 11px 6px 0px 0px #000;
  background-image: url("/treasure.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.event-container {
  @apply my-10 md:my-12 lg:my-16 xl:my-20 2xl:my-0 2xl:h-screen mx-auto w-10/12 md:max-w-xl lg:max-w-4xl xl:max-w-6xl 
  flex flex-col justify-center items-center gap-5 md:gap-7 lg:gap-10 xl:gap-10;
}

.event-title {
  @apply font-normal uppercase text-white font-creepster items-center text-4xl w-56 md:w-auto xl:text-6xl;
}

.event-subtitle {
  @apply font-normal text-white font-jakarta text-center w-auto xl:w-3/5;
}

.event__image-container {
  @apply w-full h-72 lg:h-80 xl:h-96 2xl:p-64;
}

.event__monster-container {
  @apply bottom-48 lg:bottom-56 xl:bottom-60 2xl:bottom-96;
}

.event__elephant-monster {
  @apply w-20 xl:w-28 2xl:w-32;
}

.event__button-container {
  @apply flex gap-2 lg:gap-5 xl:gap-10;
}

/* =================== ******* End of Event Section ******* ================= */

/* =================== ******* Character Section ******* ================= */

.char-background {
  background-color: #7453c5;
}

.char-container {
  @apply mx-auto w-10/12 2xl:h-screen md:max-w-xl lg:max-w-4xl xl:max-w-6xl 2xl:max-w-screen-xl
  flex flex-col justify-between lg:flex-row items-center;
}

.char__warrior-container {
  @apply order-2 lg:order-1 my-10 md:my-16 lg:my-20 flex flex-col gap-10 lg:w-4/12 text-center;
}

.char-title {
  @apply font-normal uppercase text-white font-creepster text-5xl lg:text-7xl xl:text-8xl 2xl:text-9xl;
}

.char-subtitle {
  @apply font-normal text-white font-jakarta text-base leading-snug;
}

.char__button-container {
  @apply flex gap-5 mx-auto;
}

/* ============ ******* End of Character Section ******* ============= */

/* =================== ******* Battle Section ******* ================= */

.battle {
  background-image: url("/dining.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
  border: 8px solid var(--Style, #000);
  box-shadow: 11px 6px 0px 0px #000;
}

.battle-container {
  @apply my-10 md:my-16 lg:my-20 mx-auto w-10/12 md:max-w-xl lg:max-w-4xl xl:max-w-6xl 2xl:max-w-screen-2xl
  flex flex-col justify-center gap-12;
}

.battle__text-container {
  @apply gap-4 flex flex-col flex-wrap md:flex-row justify-between items-center text-center md:text-left;
}

.battle_title {
  @apply font-normal uppercase text-white font-creepster text-5xl lg:w-2 lg:text-7xl xl:text-8xl;
}

.battle_subtitle {
  @apply font-normal text-white font-jakarta lg:w-96 text-base lg:text-lg;
}

.battle__image-container {
  @apply w-full h-72 lg:h-96 md:p-48 xl:p-52 2xl:p-60;
}

.battle__monster-image {
  @apply w-40 md:w-44 lg:w-72;
}

/* =================== ******* End of Battle Section ******* ================= */

/* =================== *******Residence Section ******* ================= */

.residence-background {
  background-color: #583b9e;
}

.residence {
  background-image: url("/haunted.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
  border: 8px solid var(--Style, #000);
  box-shadow: 11px 6px 0px 0px #000;
}

.residence-container {
  @apply 2xl:min-h-screen mx-auto w-10/12 md:max-w-xl lg:max-w-4xl xl:max-w-6xl 2xl:max-w-screen-2xl
  flex flex-col lg:flex-row justify-center items-center gap-7 md:gap-12 lg:gap-2;
}

.residence__text-container {
  @apply flex flex-col gap-6 order-2 lg:order-1 mb-10 lg:my-20 my-0;
}

.residence-title {
  @apply font-normal uppercase text-white font-creepster lg:w-0 text-5xl lg:text-7xl xl:text-8xl;
}

.residence-subtitle {
  @apply font-normal text-white font-jakarta lg:w-3/4 text-base lg:text-lg xl:text-xl;
}

.residence__button-container {
  @apply text-center lg:text-left;
}

.residence__image-container {
  @apply mt-10 md:mt-14 lg:mt-0 relative residence w-full h-96 2xl:p-64 order-1 lg:order-2;
}

.residence__monster-image {
  @apply w-52 md:w-60 lg:w-60 xl:w-72 2xl:w-96;
}

/* =================== *******End of Residence Section ******* ================= */

/* Pre-Footer */

.pre-footer {
  border-radius: 48px;
  border: 9px solid var(--Style, #000);
  background: var(--Linear, linear-gradient(90deg, #f09819 0%, #edde5d 100%));
  box-shadow: 8px 15px 0px 0px #000;
}

.pre-footer-font {
  color: var(--Style, #000);
  font-weight: 400;
}

.three-eye {
  background-image: url("/monster3eye.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Residence */
